a{
    text-decoration: none;
    color: inherit;    
}

body{
    font-family: "Roboto Mono", monospace;
    padding: 0;
    margin: 0;
    /*color*/
    --main-color:#023E22;
    --sec-color:#2a6234;
    --bg-color:#e8f3f5;
    --text:#003f4f;
    --text2:#e8f3f5;
   --icon-color:#e8f3f5;
    background-color: var(--bg-color);
    font: roboto;
    overflow:hidden;    
}

.darkMode{
    --main-color:#05311d;
    --bg-color:#023e22;
    --text:#e8f3f5;
}

main{
    color: var(--text);
    height: 100vh;
    display: grid;
    grid-template-columns: 8fr 2fr;
}

.content{
    padding: 2.5em;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 7fr 2fr 1fr;
}

.lesson{
    grid-row: 1/2;
}

.controls{
    grid-row: 2/2;
}

.sidebar{
    grid-column: 2/2;
    background-color: var(--sec-color);
}

.sidebar > title{
    background-color: var(--main-color);
    padding: 0.125em;
    display: block;
    color: var(--text2);
    text-align: center;
}

.slideTitle{
    text-align: center;
}
.slideContent{
    text-align: center;
}

.equ{
    max-width: 40%;
    max-height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

em{
    color: red;
}