.navbar{
    padding: 0;
    margin: 0;
    color: var(--text2);
    background-color: var(--main-color);
    width: 100vw;
    text-align: center;
    border: var(--main-color) solid 0.25em;
    display:grid;
    grid-template-columns: 2fr 6fr 2fr;
    height: fit-content;
}
.logo{
    align-items: flex-end;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40%;
    width: 130%;
    height: auto;
    vertical-align: bottom;
}

.title{   
    margin: 0;
    text-align: center;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.login{  
    padding: 0;
    margin: 0;
    border-left: var(--text2) dotted 0.125em;
    text-align: center;
    grid-column: 3/3;
    height: 100%;
}