ul{
    margin: 0;
    padding: 0.5em;
}

li
{



    display: block;
    background-color: var(--main-color);

    border-radius: 0.5em;
    margin: 0.5em 0 ;
    padding: 0.5em;

    text-align: left  ;

    list-style-type: none; 
    color: var(--text2);
}

.locked
{
    opacity: 60%;
}

li:hover{
    transform: scale(1.1);
    transform: rotate(3deg);
    animation-duration: 100ms;
}

.locked:hover{
    transform: none;
}