<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div id="container">
        <img src="../static/img/chloe-export.png" alt=":()">
        <div class="title">chloe</div>
        <div class="desc">Twój żabi nauczyciel matematyki skurwysynu</div>

        <form method="post">
            <input name="email" type="text" placeholder="{{ email_placeholder }}" onfocus="this.placeholder=''" onblur="this.placeholder = '{{email_placeholder}}'">
            <input name="password" type="password" placeholder="{{ password_placeholder }}" onfocus="this.placeholder=''" onblur="this.placeholder = '{{password_placeholder}}'">
            <button type="submit" name="button" value="logIn">Zaloguj się</button>
            <button type="submit" name="button" value="regIn">Zarejestruj się</button>
        </form>
    </div>
</body>
</html>