<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="../static/buttons.css">

    <title>Document</title>
</head>
<body>





<nav>
    <div class="navbar">


        <div class="logo"><img src="img/chloe-export.png" alt=":("></div>
       
        <div class="title">Chloe</div>
        
        
        
    

    </div>


</nav>
<main>
    <div class="content" >
    <div id="chujWie" class="lesson">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque augue ut dolor porta, sit amet lobortis
    ante bibendum. Mauris eu massa lorem. Nam sagittis nunc vitae sollicitudin luctus. Ut ut metus elit. Suspendisse finibus
    sem nec lectus egestas, a sollicitudin dolor porta. Sed volutpat a quam non efficitur. Sed bibendum purus vel aliquam
    congue. Etiam tempus ut metus faucibus feugiat. Quisque quis lobortis odio. Aenean in pellentesque ex. Nam laoreet
    sagittis arcu, vitae lacinia metus tincidunt at. Duis vulputate, tortor congue molestie efficitur, nulla est porttitor
    nisi, sit amet auctor velit lacus non enim. Curabitur eu justo tempor diam dictum luctus.
    
    Aliquam egestas nunc in magna tincidunt consectetur. Nullam sapien mauris, semper at blandit sagittis, fringilla a urna.
    Sed finibus iaculis tincidunt. Aenean a velit pharetra, tristique eros sed, varius lacus. Donec enim nibh, lacinia eu
    ornare vitae, posuere quis sem. Vestibulum ut condimentum mi. Proin dignissim sem sed ante maximus maximus. Suspendisse
    non ante venenatis, tempor tortor a, eleifend eros. Nam tincidunt ante venenatis tortor convallis, vitae porta augue
    consequat. Nullam elit tortor, pharetra a malesuada sed, imperdiet sed arcu.</div>

    <div class="controls">
        <button class="prev">poprzedni</button>
        <button class="next">następny</button>
    </div>
        


    </div>
<nav class="sidebar">
    <title>Tematy Lekcji</title>
    <ul>
        <li>lekcja 1

         
        </li>
        <li>lekcja 1</li>
        <li>lekcja 1</li>
        <li class="locked">lekcja 1</li>    
    </ul>

</nav>
    

</main>



    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-moon-fill"
            viewBox="0 0 16 16">
            <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
        </svg>

    </div>

<script src="js/darkmode.js"></script>

</body>
</html>