<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/nav.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="../static/buttons.css">
    <script>
        function updateForward() {
            fetch('/userUpdateB')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('chujWie').innerHTML = data.new_content;
        });
        }
        function updateBackward() {
            fetch('/userUpdateF')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('chujWie').innerHTML = data.new_content;
        });
        }
    </script>

    <title>Main</title>
</head>
<body>

<nav>
    <div class="navbar">
        <div class="logo"><img src="../static/img/chloe-export.png" alt=":("></div>
        <div class="title">Chloe</div>

        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-moon-fill"
                viewBox="0 0 16 16">
                <path
                    d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            </svg>
        </div>
        <script src="../static/js/darkmode.js"></script>
    </div>
</nav>

<main>
    <div class="content" >
        <div id="chujWie" class="lesson">
        </div>

        <div class="controls">
            <button name="buttonMain" onclick="updateForward()" class="prev">{{textPrevious}}</button>
            <button name="buttonMain" onclick="updateBackward()" class="next">{{textNext}}</button>
        </div>
    </div>
<nav class="sidebar">
    <title>Tematy Lekcji</title>
    <ul id="lessonsList">
    <form method="post">
        <button class="{{classLesson1}}" id="less1" name="button" value="less1">lekcja 1 - długość odcinka</button>
        <button class="{{classLesson2}}" id="less2" name="button" value="less2">lekcja 2 - środek odcinka</button>
        <button class="{{classLesson3}}" id="less3" name="button" value="less3">lekcja 3 - równanie prostej</button>
        <button class="{{classLesson4}}" id="less4" name="button" value="less4">lekcja 4 - równanie okręgu</button>
    </form>
    </ul>
</nav>
</main>
    


</body>
</html>