<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejstracja</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/login.css">
</head>

<body>
    <div id="container">




        <form>
            <img src="../static/img/chloe-export.png" alt=":()">
            <div class="title">
                chloe
            </div>
            <div class="desc">Twój żabi nauczyciel matematyki skurwysynu</div>
            
            <input type="email" placeholder="email" onfocus="this.placeholder=''" onblur="this.placeholder = 'email'">
            <input type="text" placeholder="imię" onfocus="this.placeholder=''" onblur="this.placeholder = 'imię'">
            <input type="text" placeholder="Login" onfocus="this.placeholder=''" onblur="this.placeholder = 'Login'">
            
            <input type="password" placeholder="Hasło" onfocus="this.placeholder=''" onblur="this.placeholder = 'Hasło'">
            <input type="password" placeholder="Powtórz Hasło" onfocus="this.placeholder=''"
                onblur="this.placeholder = 'Powtórz Hasło'">

            <input type="submit" value="zarejstruj się">



        </form>
    </div>
</body>

</html>