<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    
    
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="nav.css">

    <title>Document</title>
</head>
<body>

<nav>
    <div class="navbar">


        <div class="logo"><img src="img/chloe-export.png" alt=":("></div>
       
        <div class="title">Chloe</div>
        
        
        <a href="login.html"><div class="login">zaloguj się</div></a>
    

    </div>


</nav>
<main>
    <div class="content">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque augue ut dolor porta, sit amet lobortis
ante bibendum. Mauris eu massa lorem. Nam sagittis nunc vitae sollicitudin luctus. Ut ut metus elit. Suspendisse finibus
sem nec lectus egestas, a sollicitudin dolor porta. Sed volutpat a quam non efficitur. Sed bibendum purus vel aliquam
congue. Etiam tempus ut metus faucibus feugiat. Quisque quis lobortis odio. Aenean in pellentesque ex. Nam laoreet
sagittis arcu, vitae lacinia metus tincidunt at. Duis vulputate, tortor congue molestie efficitur, nulla est porttitor
nisi, sit amet auctor velit lacus non enim. Curabitur eu justo tempor diam dictum luctus.

Aliquam egestas nunc in magna tincidunt consectetur. Nullam sapien mauris, semper at blandit sagittis, fringilla a urna.
Sed finibus iaculis tincidunt. Aenean a velit pharetra, tristique eros sed, varius lacus. Donec enim nibh, lacinia eu
ornare vitae, posuere quis sem. Vestibulum ut condimentum mi. Proin dignissim sem sed ante maximus maximus. Suspendisse
non ante venenatis, tempor tortor a, eleifend eros. Nam tincidunt ante venenatis tortor convallis, vitae porta augue
consequat. Nullam elit tortor, pharetra a malesuada sed, imperdiet sed arcu.

Cras tempus dictum nibh, a egestas ligula feugiat ut. Morbi pulvinar aliquam leo, vitae eleifend mauris rhoncus sed.
Aenean ante dui, faucibus congue sagittis tincidunt, feugiat vel ligula. Pellentesque laoreet, metus non vehicula
efficitur, sem turpis sollicitudin augue, et facilisis elit diam vitae odio. Curabitur sed elit vel tellus molestie
mattis. Nam vel pellentesque ex, in egestas orci. Nulla nec purus dui. Phasellus porta purus at mauris tincidunt, eget
porttitor sem ornare. Aliquam id massa ultrices, pharetra nunc ultrices, consectetur odio. Mauris varius elit sed mauris
iaculis finibus. In ut lacus faucibus, gravida lacus ut, ultrices enim. Morbi accumsan turpis eget leo posuere, sed
vulputate mauris semper.

Nulla facilisi. Vestibulum nec rutrum eros. Vivamus sit amet iaculis risus. Aenean nulla mauris, congue id leo mattis,
facilisis feugiat arcu. Sed laoreet porttitor ornare. Fusce porttitor venenatis gravida. Vestibulum sagittis ut est ut
sollicitudin. Proin mollis sed dolor vel tempor. Vivamus vestibulum nisi sit amet arcu bibendum, at finibus magna
malesuada. Cras luctus leo nisi, et iaculis nibh semper vitae. Sed aliquet, dui non iaculis varius, nulla diam
sollicitudin nisl, at porta nunc ex in dui. Duis augue odio, vehicula ut tortor eu, scelerisque mollis elit. Mauris
metus neque, condimentum at porttitor vitae, suscipit eu tortor. Nullam vulputate neque in elit tempus finibus.

Fusce leo nulla, varius et dui ac, vestibulum sodales sem. Sed convallis purus ex, et bibendum dolor sollicitudin quis.
Nulla facilisi. Quisque nibh leo, finibus sed tincidunt sit amet, euismod quis eros. Etiam facilisis suscipit sem, nec
gravida nunc viverra vitae. Donec in mi id lectus imperdiet placerat. Curabitur viverra dui vitae ligula vulputate
pellentesque.


    </div>

    

</main>





</body>
</html>